<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.todo_list_server.Mapper.TodoMapper">
    <select id="getById" parameterType="long" resultType="com.example.todo_list_server.dto.ResponseTodo">
        SELECT * FROM todo WHERE content_id = #{id}
    </select>
    <select id="getAllContent" resultType="com.example.todo_list_server.dto.ResponseTodo">
        SELECT * FROM todo
    </select>
    <delete id="TodoDelete">
        DELETE FROM member WHERE id = {#id}
    </delete>


</mapper>

