<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.todo_list_server.Mapper.TodoMapper">

    <select id="getById" parameterType="long" resultType="com.example.todo_list_server.dto.ResponseTodo">
        SELECT
              content
             , content_id as contentId
        FROM todo
        WHERE member_id = #{memberId}
    </select>

    <select id="getAllContent" resultType="com.example.todo_list_server.dto.ResponseTodo">
        SELECT * FROM todo
    </select>

    <delete id="TodoDelete" parameterType="long">
        DELETE FROM todo WHERE content_id = #{contentId}
    </delete>

    <update id="TodoUpdate" parameterType="com.example.todo_list_server.dto.RequestTodo" >
        UPDATE todo
        SET content = #{content}
        WHERE content_id = #{contentId} AND id = #{memberId}
    </update>

    <insert id="addTodo" parameterType="com.example.todo_list_server.dto.RequestTodo">
        INSERT INTO todo (member_id, content)
        VALUES (#{memberId}, #{content})
    </insert>

</mapper>

